@use "../../sass/variables" as *;


.genres{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    column-gap: 4em;
    row-gap: 2em;
    padding: 3em;
    background: $background-alternative;
    width: 100%;
}