//Colors
$grey-light: #e1dfe9;
$background: linear-gradient(to right, #414345, #232526);
$background-alternative: linear-gradient(to right, #29323c, #485563);
$button-bg-img: linear-gradient(to right, #434343 0%, black 100%);

// Fonts
$font-title: 'Bebas Neue', cursive;
$font-menu: 'Chakra Petch', sans-serif;