//Color Pallete:

$purple-darker: #331e6d;
$purple-dark: #341c6c;
$light-purple: #7c6fa0;
$purple: #645392;
$purple-grey-light: #e1dfe9;

// Fonts
$font-title: 'Bebas Neue', cursive;
$font-menu: 'Chakra Petch', sans-serif;