@use "../../sass/variables" as *;

.sidebar {
  padding-inline: 2em;
  position: sticky;
  box-shadow: 5px 13px 15px rgba(0, 0, 0, 0.7);
  transition: all 0.35s ease;
  width: 300px;
  background: $background;
  
  &__nav {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-list {
      margin-top: 8em;

      &__item {
        margin-block: 2em;
        cursor: pointer;
        border-radius: 1.5em;

        &-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5em;
          height: 4vw;
          padding-inline: 1em;
        }
      }

      p {
        font-size: 1em;
      }

      &__item:hover {
        background-color: rgb(4, 4, 4);
        border-radius: 1.5em;
      }

      .active {
        background-color: rgb(4, 4, 4);
        border: none;
        border-radius: 1.5em;
      }
    }
  }

  .icon {
    height: 30px;
  }

  .iconMenu {
    height: 45px;
    position: absolute;
    top: 40px;
    cursor: pointer;
  }

  .link {
    color: #fff;
    text-transform: uppercase;
    font-family: $font-menu;
  }

  .hidden {
    display: none;
  }
}

/* TABLETS */
@media (max-width: 900px) {
  .sidebar {
    width: 90px;

    &__nav {
      &-list {
        margin-top: 2em;

        &__item {
          &-wrapper {
            height: 6vw;
            padding-inline: 0.5em;
          }
        }

        p {
          display: none;
        }
      }
    }

    .icon {
      height: 30px;
    }

    .iconMenu {
      visibility: hidden;
    }

    .hidden {
      display: none;
    }
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .sidebar {

    &__nav {
      padding-inline: 0.5em;
      
      &-list {
        margin-top: 1em;

        &__item {
          &-wrapper {
            flex-direction: column;
            text-align: center;
            height: auto;
            padding: 1em;
          }
        }

        p {
          display: none;
        }
      }
    }
    .iconMenu {
      display: none;
    }
  }
}
