@use "../../sass/variables" as *;
@use "../../sass/mixins" as *;

.moviecard {
  border-radius: 10px;
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px;

  &-flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: $purple-dark;
    transform: rotateY(180deg);
    border-radius: 10px;
    color: $purple-grey-light;

    &-title {
      font-family: $font-menu;
      font-weight: 600;
      font-size: 1.4em;
      color: $purple-grey-light;
      margin-bottom: 0.5em;
      padding: 0 0.5em;
    }

    &-summary {
      font-family: $font-menu;
      padding: 0 0.5em;
      text-justify: auto;
    }

    &-button {
      display: flex;
      background-color: $light-purple;
      padding: 0.2em 1.3em;
      font-family: $font-title;
      font-size: 1.2rem;
      font-weight: 500;
      border: 0;
      border-radius: 8px;
      cursor: pointer;
      margin-bottom: 0.5em;
      transition: all 0.5s ease-in-out;
      color: $purple-grey-light;
    }

    &-button:hover {
      background-color: $purple-dark;
      border: 2px solid $purple-grey-light;
    }
  }
}

.moviecard:hover .moviecard-flip {
  transform: rotateY(180deg);
}