@use "../../sass/variables" as *;

.moviecard {
  border-radius: 10px;
  background-color: transparent;
  width: 300px;
  height: 500px;
  perspective: 1000px;

  &-flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: $background-alternative;
  }

  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    img {
      width: 100%;
      height: 100%;
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__description {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    border-radius: 10px;
    color: $grey-light;

    &-title {
      font-family: $font-menu;
      font-weight: 600;
      font-size: 1.4em;
      color: $grey-light;
      padding: 0 0.5em;
    }

    &-summary {
      font-family: $font-menu;
      padding: 0 0.5em;
      text-justify: auto;
    }

    &-button {
      display: flex;
      padding: 0.2em 1.3em;
      font-family: $font-title;
      font-size: 1.2rem;
      font-weight: 500;
      border: 0;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      color: $grey-light;
      background: $background-alternative;
    }

    &-button:hover {
      background: $background;
    }
  }
}

.moviecard:hover .moviecard-flip {
  transform: rotateY(180deg);
}

/* TABLET */
@media (max-width: 900px){
  .moviecard {
    width: 220px;
    height: 300px;

    &__description {
  
      &-title {
        font-size: 1em;
      }
  
      &-summary {
        display: none;
      }
  
      &-button {
        font-size: 1.3rem;
      }
    }
  }
}

/* MOBILE */
@media (max-width: 480px){
  .moviecard {
    width: 220px;
    height: 350px;
  
    &__description {
  
      &-title {
        font-size: 1.1em;
      }
  
      &-summary {
        font-size: 0.8em;
      }
  
      &-button {
        font-size: 1.3rem;
      }
    }
  }
}