@use "../../sass/variables" as *;

.mostWatched {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  column-gap: 4em;
  row-gap: 2em;
  padding: 3em;
  width: 100%;
}

/* TABLET */
@media (max-width: 900px) {
  .mostWatched {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em 0;
    gap: 2em;
  }
}