@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 0.8rem;
    background-color: $purple-dark;
    box-shadow: 0px 13px 15px rgba(0,0,0,0.7);
    border-bottom: 0.1em solid $purple-grey-light;

    &__logo{
        width: 10em;
        margin: 0 2em;
    }

    &__title{
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: 'Bebas Neue', cursive;
        letter-spacing: 3px;
        text-decoration: underline;
        color: $purple-grey-light;
    }

    &__menu{
        display: flex;
        flex-wrap: wrap;
        gap: 2em;
        font-family: 'Chakra Petch', sans-serif;
        font-weight: 600;

        li{
            cursor: pointer;
            transition: all 0.8s ease;
            font-size: 1.2rem;
            
        }

        li:hover{
            color: $light-purple;
            text-decoration: underline;
        }

        a{
            color: $purple-grey-light;
        }
    }

    &__search{
        input{
            width: 18rem;
            height: 3rem;
            border-radius: 1.2em;
            text-indent: 0.8rem;
            font-size: 1rem;
            color: $purple-darker;
        }
    }
}

@media (max-width: 1000px){

    .header{
        flex-direction: column;
        gap: 0.2em;
    
        &__logo{
            width: 10rem;
        }
    
        &__title{
            font-size: 2rem;
        }
    
        &__menu{
            gap: 1em;

            li{
                font-size: 1rem;
            }
        }
    
        &__search{
            input{
                margin: 0.8em 0;
                text-indent: 0.8em;
                font-size: 1em;
            }
            
        }
    }
}

@media (max-width: 500px){

    .header{
        &__logo{
            width: 8rem;
        }
    
        &__title{
            font-size: 1.5rem;
        }
    
        &__menu{

            li{
                margin-top: 0.5rem;
            }
        }
    }
}