@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.home{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2em;
    padding: 2em;
    background-color: $purple;
}