@use '../../sass/variables' as *;
@use '../../sass/mixins' as *;

.home{
    display: grid;
    grid: auto-flow / 1fr 1fr 1fr 1fr;
    padding: 2em;
    row-gap: 2.5em;
    justify-items: center;
}

@media (max-width: 550px){
    .home{
        grid: auto-flow / 1fr;
        height: auto;
    }

}