@use "../../sass/variables" as *;


.MovieDetail {
  display: flex;
  padding: 2em 3em;
  gap: 2em;
  background-color: $purple;

  &-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
  }

  &__title {
    text-align: center;
    font-family: $font-title;
    font-size: 3em;
    color: $purple-grey-light;
  }
  &__img {
    
    img {
      max-width: 100%;
      border-radius: 10px;
    }
  } 

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    align-items: center;
    text-align: center;
    width: 50%;

    &-card {
      font-family: $font-menu;
      color: $purple-grey-light;

      h3 {
        padding-bottom: 0.5em;
        font-size: 1.5em;
        text-decoration: underline;
      }

      p {
        font-size: 1.1em;
      }
    }

    &-btn {
      width: 100%;
      height: 7vh;
      border-radius: 10px;
      border: 0;
      background-color: $purple-dark;
      color: $purple-grey-light;
      text-transform: uppercase;
      font-family: $font-title;
      font-size: 2rem;
      transition: all 0.4 s ease-in-out;
      cursor: pointer;
    }

    a{
      width: 50%;
    }

    &-btn:hover {
      background-color: $purple-grey-light;
      border: 2px solid $purple-dark;
      color: $purple-darker;
    }
  }
}

.text{
    color: #fff;
    text-transform: uppercase;
    font-family: $font-title;
    font-size: 2.5em;
    margin-left: 5rem;
  }


.recommend{

  &__section{
    display: flex;
    flex-wrap: wrap;
    background-color: $purple;
    padding: 3em;
    gap: 3em;
  }
}



@media (max-width: 1000px){
  .MovieDetail {
    flex-direction: column;
    padding: 1em 1em;
    gap: 2em;

    &-container{
      width: auto;
    }

    &__title{
      font-size: 2rem;
    }

    &__img {
      margin-bottom: 0.5rem;
  
    }
  
    &__details {
      width: auto;

      &-card {
        p {
          font-size: 1.1rem;
        }

        h3{
          font-size: 1.3rem;
        }
      }

    }
  }

  .text{
    background-color: $purple;
    margin: 0;
    text-align: center;
    font-size: 2rem;
    padding: 0 0.5em;
  }
  
}